<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <appSettings>
    <add key="Test_BillingClientApiUrl" value="http://beat-billing.dev1.gobio.com" />
    <add key="Test_EnrollmentId" value="4b3b1865-74ac-45dd-8dda-be4c34d7bbad" />
    <add key="Test_PracticeId" value="0001" />
    <add key="Test_PersonId" value="8ffcaacc-0f70-46b5-a57f-c7f46de9ee86" />
  </appSettings>

  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <stepAssemblies>
      <stepAssembly assembly="Sammak.SpecflowTest.Common" />
    </stepAssemblies>
  </specFlow>
</configuration>
